* {
  font-family: 'Mulish', sans-serif;
}

body {
  background-color: #e1ede6;
}

.Header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 12vh;
  margin-bottom: 5px;
}
@media (min-width: 750px) {
  .Header-container {
    align-items: center;
    justify-content: start;
    text-align: left;
  }
}
@media (min-width: 1500px) {
    .Header-container {
    height:5vh
    }
  }

h1 {
  font-size: 5.4vw;
  margin-top: 10px;
  margin-bottom: 0;
}
@media (min-width: 1500px) {
    .h1 {
    font-size: 3vw;
    }
  }
.intro-description {
  font-size: 2.5vw;
}

p {
  font-size: 2.6vw;
}

.Graph-Controller {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 45vh;
  width: 100%;
}
@media (min-width: 750px) {
  .Graph-Controller {
    height: 50vh;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.date-selector {
  display: flex;
  align-items: center;
  align-content: start;
  flex-wrap: wrap;
  height: 22vh;
  margin: 15px;
}
@media (min-width: 900px) {
  .date-selector {
    height: 20vh;
  }
}

.date-container {
  margin-bottom: 15px;
}

.country-selector {
  display: flex;
  align-items: center;
  align-content: start;
  flex-wrap: wrap;
  height: 8vh;
  margin: 15px;
}

.MuiOutlinedInput-root {
  background-color: white;
  height: 80%;
}

.MuiSelect-root {
  max-width: true;
  height: 80%;
}
@media (min-height: 900px) {
  .MuiSelect-root {
    max-width: true;
  }
}
.MuiContainer-root {
  height: 50%;
}
@media (min-height: 900px) {
    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
       padding:10px
    }
  }

.MuiFormControl-root {
  height: 80%;
}


