* {
  font-family: 'Mulish', sans-serif;
}

html,
body {
   margin: 0;
   padding: 0;
}

body {
  background-color: #e1ede6;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width:100%;
  max-height:100%
}



.Header-container{
  width: 90%;
  margin:auto;
  margin-top: 3vh;
}

@media (min-width: 750px) {
  .Header-container {
    align-items: center;
    justify-content: start;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .Header-container {
    height: 20vh;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
  }
}

h1 {
  font-size: 5.4vw;
  margin-top: 10px;
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3vw;
  }
}


.intro-description {
  font-size: 2.5vw;
}

@media (min-width: 1000px) {
  .intro-description {
    font-size: 2vw;
  }
}

p {
  font-size: 2.6vw;
}

.Graph-Controller {
  margin-bottom: 10px;
  width: 90%;
  margin: auto;
  height:45vh
}

@media (min-width: 750px) {
  .Graph-Controller {
    height: 50vh;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

@media (min-width: 1000px) {
  .Graph-Controller {
    display: flex;
    height: 40vh;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}


.date-selector {
  display: flex;
  align-items: center;
  align-content: start;
  flex-wrap: wrap;
  height: 22vh;
}

@media (min-width: 900px) {
  .date-selector {
    height: 20vh;
  }
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 80px;
}



.MuiOutlinedInput-root {
  background-color: white;
  height: 80%;
}

.MuiSelect-root {
  max-width: true;
  height: 80%;
}

@media (min-height: 900px) {
  .MuiSelect-root {
    max-width: true;
  }
}

.MuiContainer-root {
  height: 50%;
  width: 90%;
}


@media (min-height: 900px) {
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px
  }
}

.MuiFormControl-root {
  height: 80%;
}